<!-- About Section -->
    <section id="about">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                              <!-- <img class="img-circle img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/FRONT GATE.jpg" alt=""> -->
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/FRONT GATE.jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Front Gate</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <!-- <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div> -->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/FACTORY AREA.jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel" >
                              <div class="timeline-heading">
                                    <h4>Factory Area</h4>
                                  </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/Workshop.jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Workshop</h4>
                                </div>

                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/Production Line.jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Production line</h4>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/Plastic injection workshop.jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Plastic injection workshop</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/IN_GOODS WAREHOUSE.jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>In-goods WareHouse</h4>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/RD DEPT.jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>R&D Dept.</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/Sales Dept..jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sales Dept.</h4>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/MEETING ROOM.jpg" alt="" style="border: 2px solid #18bc9c;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Meeting Room</h4>
                                </div>
                            </div>
                        </li>
                        <li  class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="{{ post.url | prepend: site.baseurl }}/img/factoryview/Testing On-site.jpg" alt="" style="border: 2px solid #18bc9c; height:160px" >
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Testing On-site</h4>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->

                    </ul>
                </div>
            </div>
        </div>
    </section>
