<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #{{ site.data.template.color.secondary }};">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <!-- <a href="#page-top"></a> -->
                        <a href="/"></a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li> -->
                    <!-- <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/products">PRODUCTS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/news">NEWS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/news">COMPANY</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/news">Factory View</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/news">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- Header -->
<!-- <header {% if page.thumbnail %}
  style="background: url(/img/portfolio/{{ page.thumbnail }}) 50%  repeat ;"
{% endif %}> -->
<header >
  <div >
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<div class="intro-text" style=" padding-top: 120px; padding-bottom: 20px;">
										<h1 class="title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
								</div>
						</div>
				</div>
				<div class="row">
					<hr class="garis">
				</div>
				<div class="row sub" style="  padding-bottom: 40px;">
					<div class="col-xs-12">
						{{ page.date | date: " %d %-b %Y" }}
					</div>
					<!-- <div class="col-xs-6">
					  {{ page.category }}
					</div> -->
				</div>
		</div>
  </div>
</header>
