<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>意见反馈</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}"> {% if page.title %}
    <meta name="keywords" content="{{ page.keywords }}"> {% else %}
    <meta name="keywords" content="{{ site.keywords }}"> {% endif %}
    <meta name="author" Content="ouka,changzhou,catherine@oukavip.com">
    <meta name="baidu-site-verification" content="76f4f91b1927de01e2e79b3134341b97" />


    <link rel="stylesheet" href="{{ " /style.css " | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ " /css/font-awesome/css/font-awesome.min.css " | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/jpg" href="/img/logo.jpg" sizes="32x32">

    <style type="text/css">
        section {
            padding: 25px 0;
        }

        section h2.section-heading {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 40px;
        }

        section h3.section-subheading {
            margin-bottom: 75px;
            text-transform: none;
            font-family: {
                {
                    site.data.template.font.secondary
                }
            }
            ;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
        }

        @media(min-width:768px) {
            section {
                padding: 15px 0;
            }
        }
    </style>

</head>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="您的名字 *" id="name" required data-validation-required-message="请填写您的名字，便于我们联系您。">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="您的邮箱 *" id="email" required data-validation-required-message="请填写您的邮箱，便于我们联系您。">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" placeholder="您的电话 *" id="phone" required data-validation-required-message="请填写您的电话，便于我们联系您。">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="请填写您的意见和反馈 *" id="message" required data-validation-required-message="请填写您的意见和反馈。"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">发送</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



<!-- jQuery Version 1.11.0 -->
<script src="{{ " /js/jquery-1.11.0.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ " /js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ " /js/jquery.easing.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/classie.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/cbpAnimatedHeader.js " | prepend: site.baseurl }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ " /js/jqBootstrapValidation.js " | prepend: site.baseurl }}"></script>
<!-- <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script> -->
<script>
    $(function () {

        $("input,textarea").jqBootstrapValidation({
            preventSubmit: true,
            submitError: function ($form, event, errors) {
                // additional error messages or events
            },
            submitSuccess: function ($form, event) {
                event.preventDefault(); // prevent default submit behaviour
                // get values from FORM
                var name = $("input#name").val();
                var email = $("input#email").val();
                var phone = $("input#phone").val();
                var message = $("textarea#message").val();
                var firstName = name; // For Success/Failure Message
                // Check for white space in name for Success/Fail message
                if (firstName.indexOf(' ') >= 0) {
                    firstName = name.split(' ').slice(0, -1).join(' ');
                }
                $.ajax({
                    url: "//formspree.io/zyjmessage@163.com",
                    type: "POST",
                    data: {
                        name: name,
                        phone: phone,
                        email: email,
                        message: message
                    },
                    dataType: "json",
                    success: function () {
                        // Success message
                        $('#success').html("<div class='alert alert-success'>");
                        $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                            .append("</button>");
                        $('#success > .alert-success')
                            .append("<strong>反馈成功，非常感谢！ </strong>");
                        $('#success > .alert-success')
                            .append('</div>');

                        //clear all fields
                        $('#contactForm').trigger("reset");
                    },
                    error: function () {
                        // Fail message
                        $('#success').html("<div class='alert alert-danger'>");
                        $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                            .append("</button>");
                        $('#success > .alert-danger').append("<strong>对不起 " + firstName + ", 出了点问题，请等会在试。");
                        $('#success > .alert-danger').append('</div>');
                        //clear all fields
                        $('#contactForm').trigger("reset");
                    },
                })
            },
            filter: function () {
                return $(this).is(":visible");
            },
        });

        $("a[data-toggle=\"tab\"]").click(function (e) {
            e.preventDefault();
            $(this).tab("show");
        });
    });


    /*When clicking on Full hide fail/success boxes */
    $('#name').focus(function () {
        $('#success').html('');
    });

</script>
<!-- Custom Theme JavaScript -->
<script src="{{ " /js/agency.js " | prepend: site.baseurl }}"></script>