<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
      {% include header_post.html %}

		<div>
			<div class="container">
				<div class="row">
					<div class=" col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2  post-list">
            <!-- <div class=" col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3  post-list"> -->

            <section class="content" >
             <!-- <div align="center" > -->
                {{content}}
                <!-- </div> -->
            </section>
					</div>
				</div>
			</div>
		</div>
		<section>
			<div class="container">
				<div class="row">
					<div class=" col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2  post-list">
		        <div id="disqus_thread"></div>
					</div>
				</div>
			</div>
		</section>
		<script>
		var disqus_config = function () {
		  this.page.url = 'http://oukavip.com{{ page.url }}' ;
		  this.page.identifier = '{{ page.id }}' ;
		};

		(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//http-www-oukavip-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
		})();
		</script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
